<!DOCTYPE html>
<html lang="en">
  	<head>
  	</head>
	<body>
		<h1>{{ t 'app.password.notification' }}</h1>
		<hr>
		<p>Click the link below to reset your password.<br><br></p>
		<a href="{{ url }}">RESET PASSWORD</a>
	</body>
</html>