<!DOCTYPE html>
<html lang="en">
  	<head>
  	</head>
	<body>
		<h1>{{ t 'app.verify.notification' }}</h1>
		<hr>
		<p>Click the link below to verify your account.<br><br></p>
		<a href="{{ url }}">Verify</a>
	</body>
</html>